dmn-xsd/src/main/resources/model/SupplierInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SupplierInfo" xmlns:tns="http://www.example.org/SupplierInfo" elementFormDefault="qualified">

    <complexType name="SupplierInfo">
    	<sequence>
    		<element name="user" type="string"></element>
    		<element name="price" type="double"></element>
    		<element name="deliveryDate" type="date"></element>
    		<element name="selected" type="boolean"></element>
    	</sequence>
    </complexType>
    <element name="supplierInfo" type="tns:SupplierInfo"></element>
</schema>